<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dreamlu.convention.mapper.HouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.dreamlu.convention.model.House">
        <id column="id" property="id"/>
        <result column="beautiful" property="beautiful"/>
        <result column="consuming1" property="consuming1"/>
        <result column="consuming2" property="consuming2"/>
        <result column="consuming3" property="consuming3"/>
        <result column="consuming4" property="consuming4"/>
        <result column="description2" property="description2"/>
        <result column="displayName" property="displayName"/>
        <result column="distance1" property="distance1"/>
        <result column="distance2" property="distance2"/>
        <result column="distance3" property="distance3"/>
        <result column="distance4" property="distance4"/>
        <result column="location" property="location"/>
        <result column="mobile" property="mobile"/>
        <result column="phone" property="phone"/>
        <result column="size" property="size"/>
        <result column="time" property="time"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="typee" property="typee"/>
        <result column="unitPrice" property="unitPrice"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, beautiful, consuming1, consuming2, consuming3, consuming4, description2, displayName, distance1, distance2, distance3, distance4, location, mobile, phone, size, time, totalPrice, typee, unitPrice
    </sql>

</mapper>
