<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dreamlu.convention.mapper.IntoStaffStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.dreamlu.convention.model.IntoStaffStatistics">
        <id column="id" property="id"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <result column="realName" property="realName"/>
        <result column="staffNo" property="staffNo"/>
        <result column="mobile" property="mobile"/>
        <result column="deptName" property="deptName"/>
        <result column="picUrl" property="picUrl"/>
        <result column="isBackCompany" property="isBackCompany"/>
        <result column="homeAddress" property="homeAddress"/>
        <result column="isWillTrip" property="isWillTrip"/>
        <result column="tripDistination" property="tripDistination"/>
        <result column="reasons" property="reasons"/>
        <result column="is_just_for_test" property="isJustForTest"/>
        <result column="description" property="description"/>
        <result column="problemAnserOne" property="problemAnserOne"/>
        <result column="problemAnswer2" property="problemAnswer2"/>
        <result column="problemAnswer3" property="problemAnswer3"/>
        <result column="problemAnswer3a" property="problemAnswer3a"/>
        <result column="problemAnswer3b" property="problemAnswer3b"/>
        <result column="problemAnswer4" property="problemAnswer4"/>
        <result column="problemAnswer4a" property="problemAnswer4a"/>
        <result column="problemAnswer4b" property="problemAnswer4b"/>
        <result column="problemAnswer5" property="problemAnswer5"/>
        <result column="problemAnswer6" property="problemAnswer6"/>
        <result column="problemAnswer7" property="problemAnswer7"/>
        <result column="reservedOne" property="reservedOne"/>
        <result column="reserved2" property="reserved2"/>
        <result column="reserved3" property="reserved3"/>
        <result column="reserved4" property="reserved4"/>
        <result column="reserved5" property="reserved5"/>
        <result column="reserved6" property="reserved6"/>
        <result column="reserved7" property="reserved7"/>
        <result column="reserved8" property="reserved8"/>
        <result column="reserved9" property="reserved9"/>
        <result column="reserved10" property="reserved10"/>
        <result column="reserved11" property="reserved11"/>
        <result column="reserved12" property="reserved12"/>
        <result column="workTitle" property="workTitle"/>
        <result column="isTouchPatient" property="isTouchPatient"/>
        <result column="isGoHospital" property="isGoHospital"/>
        <result column="backWorkTime" property="backWorkTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, updateTime, status, createTime, realName, staffNo, mobile, deptName, picUrl, isBackCompany, homeAddress, isWillTrip, tripDistination, reasons, is_just_for_test, description, problemAnserOne, problemAnswer2, problemAnswer3, problemAnswer3a, problemAnswer3b, problemAnswer4, problemAnswer4a, problemAnswer4b, problemAnswer5, problemAnswer6, problemAnswer7, reservedOne, reserved2, reserved3, reserved4, reserved5, reserved6, reserved7, reserved8, reserved9, reserved10, reserved11, reserved12, workTitle, isTouchPatient, isGoHospital, backWorkTime
    </sql>

</mapper>
