<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>如梦技术</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/js/index.css}">
    <script type="text/javascript" th:src="@{/static/js/avue-mobile.js}"></script>
    <script type="text/javascript">
        var basePath = '[[${#httpServletRequest.getContextPath()}]]';
        window.UEDITOR_HOME_URL = basePath + "/static/js/ueditor/";
        window.UEDITOR_SERVER_URL = basePath + "/ueditor";
    </script>
    <script type="text/javascript" th:src="@{/static/js/jquery-easyui/jquery.min.js}"></script>
</head>
<body layout:fragment="body" style="visibility: hidden;">
layout
</body>
</html>
